<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>

  <connectionStrings>
    <add name="MyJobEntities" connectionString="metadata=res://*/MyJobModel.csdl|res://*/MyJobModel.ssdl|res://*/MyJobModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-CDQ0TC9\SQLEXPRESS;initial catalog=MyJob;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>

</configuration>